---
cluster_name: bifrost-cluster
zones: [europe-west1-d, europe-west1-b]
region: europe-west1
project: lucid-course-142515
namespace: dev

##
# LETSENCRYPT
##
letsencrypt_service_account_key_path: ../stellar-sql-client-key.json

##
# PERSISTENT VOLUMES
##
storage_class_parameters_type: pd-standard

##
# GETH
##
geth_storage_capacity_gb: 20
geth_args: >
    --datadir=/data
    --rpc --rpcaddr=0.0.0.0 --rpccorsdomain=* --rpcapi=net,eth
    --ws --wsaddr=0.0.0.0 --wsorigins=* --wsapi=net,eth
    --ipcdisable
    --testnet --cache=2048 --light

##
# STELLAR
##
stellar_domain_name: <stellar service domain>
stellar_storage_capacity_gb: 40
#
# STELLAR CORE
#
stellar_core_config_version: 1
stellar_core_cfg_paths:
  - ./files/stellar-core-0.cfg
  - ./files/stellar-core-1.cfg

#
# STELLAR HORIZON
#

##
# BIFROST
##
stellar_bifrost_domain_name: bifrost.domain

# if `stellar_bifrost_sql_instance_id` is defined, new SQL Instance will be created
#stellar_bifrost_sql_instance_id: bifrost-28

# Comment string below if `stellar_bifrost_sql_instance_id` is defined
stellar_bifrost_sql_instance: "lucid-course-142515:europe-west1:bifrost-28=tcp:5432"

stellar_bifrost_sql_client_key_path: ../stellar-sql-client-key.json
stellar_bifrost_ethereum_start_block: 2150000
stellar_bifrost_database_url: "postgres://...@127.0.0.1/...?sslmode=disable"
stellar_bifrost_cfg:
  ethereum:
    master_public_key: "xpub..."
    network_id: "3"
    minimum_value_eth: "0.00001"
  stellar:
    issuer_public_key: "..."
    signer_secret_key: "..."
    token_asset_code: "TOKE"
    needs_authorize: "true"
    network_passphrase: "Test SDF Network ; September 2015"
  database:
    type: "postgres"

stellar_bifrost_asset_price: 1
stellar_bifrost_presale: 0

##
# STELLAR BIFROST CLIENT (sample)
##
stellar_bifrost_client_env: "development"
