apiVersion: v1
kind: Service
metadata:
  name: bifrost-backend
  labels:
    app: bifrost
    tier: backend
spec:
  type: NodePort
  selector:
    bifrostApp: "1"
  ports:
  - protocol: TCP
    port: 80
    targetPort: bfr-cl-http
    name: client-http
  - protocol: TCP
    port: 8080
    name: http
    targetPort: bfr-http
