apiVersion: v1
kind: Service
metadata:
  name: bifrost-frontend
  labels:
    app: bifrost
    tier: frontend
spec:
  type: LoadBalancer
  loadBalancerIP: "{{bifrost_lb_ip}}"
  selector:
    app: bifrost
  ports:
  - protocol: TCP
    port: 8000
    name: http
  - protocol: TCP
    port: 80
    targetPort: 3000
    name: client-http
