apiVersion: v1
kind: Service
metadata:
  name: stellar-frontend
  labels:
    app: stellar
    tier: frontend
  annotations:
    acme/certificate: '{{stellar_domain_name}}'
    acme/secretName: 'stellar-tls-secret'
spec:
  type: LoadBalancer
  loadBalancerIP: "{{stellar_lb_ip}}"
  selector:
    app: stellar
  ports:
  - protocol: TCP
    port: 443
    name: horizon-https
---
apiVersion: v1
kind: Service
metadata:
  name: stellar-backend
  labels:
    app: stellar
    tier: backend
spec:
  type: NodePort
  selector:
    app: stellar
  ports:
  - protocol: TCP
    port: 8000
    name: horizon-http
