apiVersion: v1
kind: Service
metadata:
  name: geth
  labels:
    app: geth
spec:
  type: LoadBalancer
  loadBalancerIP: "{{load_balancer_ip}}"
  ports:
  - protocol: TCP
    port: 8545
    name: geth-rpc
  selector:
    app: geth
---

apiVersion: apps/v1beta1
kind: StatefulSet
metadata:
  name: geth
spec:
  replicas: 2
  serviceName: geth
  updateStrategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: geth
    spec:
      containers:
        - name: geth
          image: ethereum/client-go
          command:
            - geth
            - --rpc
            - --rpcaddr=0.0.0.0
            - --rpccorsdomain=*
            - --rpcapi=net,eth
            - --testnet
            - --cache=2048
            - --light
            - --datadir=/data
          ports:
          - name: geth-rpc
            containerPort: 8545
          - name: geth-peers
            containerPort: 3030
          volumeMounts:
          - name: geth-data
            mountPath: /data
  volumeClaimTemplates:
  - metadata:
      name: geth-data
    spec:
      accessModes:
        - ReadWriteOnce
      resources:
        requests:
          storage: 20Gi
      storageClassName: slow
      selector:
        matchLabels:
          service: "geth"
