apiVersion: apps/v1beta1
kind: StatefulSet
metadata:
  name: geth
spec:
  replicas: {{replicas}}
  serviceName: geth
  podManagementPolicy: Parallel
  updateStrategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: geth
    spec:
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: app
                operator: In
                values:
                - geth
            topologyKey: "failure-domain.beta.kubernetes.io/zone"
      containers:
        - name: geth
          image: "{{geth_image}}"
          command:
            - "sh"
            - "-c"
            - "geth {{geth_args}}"
          ports:
          - name: geth-rpc
            containerPort: 8545
          - name: geth-ws
            containerPort: 8546
          - name: geth-peers
            containerPort: 30303
          livenessProbe:
            tcpSocket:
              port: 8545
            initialDelaySeconds: 15
            periodSeconds: 3
          readinessProbe:
            exec:
              command:
                - "/bin/sh"
                - "-c"
                - "geth attach --datadir=/data --exec 'eth && !eth.syncing' | grep true"
            initialDelaySeconds: 20
            periodSeconds: 10
          volumeMounts:
          - name: geth-data
            mountPath: /data
  volumeClaimTemplates:
  - metadata:
      name: geth-data
    spec:
      accessModes:
        - ReadWriteOnce
      resources:
        requests:
          storage: "{{geth_storage_capacity_gb}}Gi"
      storageClassName: "{{namespace}}-geth"
