apiVersion: v1
kind: Service
metadata:
  name: geth-backend
  labels:
    app: geth
    tier: backend
spec:
  clusterIP: None
  selector:
    app: geth
  ports:
  - protocol: TCP
    port: 8545
    name: geth-rpc
---

apiVersion: apps/v1beta1
kind: StatefulSet
metadata:
  name: geth
spec:
  replicas: 1
  serviceName: geth
  updateStrategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: geth
    spec:
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: app
                operator: In
                values:
                - geth
            topologyKey: "failure-domain.beta.kubernetes.io/zone"
      containers:
        - name: geth
          image: "{{geth_image}}"
          command:
            - geth
            - --rpc
            - --rpcaddr=0.0.0.0
            - --rpccorsdomain=*
            - --rpcapi=net,eth
            - --testnet
            - --cache=2048
            - --light
            - --datadir=/data
          ports:
          - name: geth-rpc
            containerPort: 8545
          - name: geth-peers
            containerPort: 3030
          volumeMounts:
          - name: geth-data
            mountPath: /data
  volumeClaimTemplates:
  - metadata:
      name: geth-data
    spec:
      accessModes:
        - ReadWriteOnce
      resources:
        requests:
          storage: 20Gi
      storageClassName: slow
      selector:
        matchLabels:
          service: "geth"
